/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

:root{

    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);

    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__menu{
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img{
    scale: 1.2;
}

.menu__navegacao nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container__menu li, .container__menu a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: var(--Gray);
}

.botoes__acesso{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn__login, .btn__signup{
    font-size: 18px;
    padding: 10px;
}

.btn__login{
    background-color: transparent;
    border: 0;
}

.btn__signup{
    padding: 10px 20px;
    background-color: var(--Cyan);
    border: 0;
    color: #ffff;
    border-radius: 50px;
}

.btn__login:hover, .btn__signup:hover{
    cursor: pointer;
}

main{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
    padding: 50px 0;
    padding-bottom: 200px;
    flex-wrap: wrap;
}

.texto h1{
    font-weight: 800;
}

.texto{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.texto p{
    color: var(--Gray);
    font-size: 18px;
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.get__started{
    padding: 10px 20px;
    background-color: var(--Cyan);
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
}

.hamburguer__menu__icon{
    display: none;
}

.second__main{
    min-height: 90vh; 
    width: 100%;
    background-color: var(--Gray);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.container__input{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    width: 80%;
    background: var(--Dark-Violet);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__input img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.campo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    z-index: 3;

}

.campo input, .campo button{
    border-radius: 10px;
    border: 0;
    outline: 0;
}

.campo input{
    padding: 10px;
    width: 500px;
}

.campo button{
    background-color: var(--Cyan);
    color: #ffff;
    font-size: 20px;
    padding: 6px 20px;
    border: 0;
    font-weight: 700;
}

.resultados{
    width: 80%;
    min-height: 20px;
    align-self: center;
}

.campo__resultado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background: #ffff;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#link__original{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    text-align: center;
}

.links a{
    text-align: right;

    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.links button{
    padding: 10px 20px;
    background-color: var(--Cyan);
    border: 0;
    border-radius: 10px;
}

.estatisticas{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estatisticas .titulo{
    text-align: center;
    width: 50%;
}

.quadros{
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.quadro{
    background-color: #ffff;
    height: 300px;
    width: 300px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.quadro .imagem{
    background-color: var(--Very-Dark-Blue);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: -40px;
}

.quadro h2, .quadro p{
    position: relative;
    top: -50px;
}

.boost__your__link{
    min-height: 20vh;
    background-color: var(--Dark-Violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boost__your__link img{
    height: 100%;
    width: 100%;
}

.texto__boost{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boost__your__link h1{
    font-size: 4rem;
    color: #ffff;
}

.get__started__boost__link{
    width: 200px;
    padding: 10px 20px;
    background-color: var(--Cyan);
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
}


@media(max-width:800px){
    .menu__navegacao, .botoes__acesso, .linha{
        display: none;
    }

    .hamburguer__menu__icon{
        display: block;
    }

    .menu__navegacao.active, .botoes__acesso.active, .linha.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .botoes__acesso.active{
        top: 300px;
    }

    .menu__navegacao nav{
        flex-direction: column;
        justify-self: center;
        gap: 30;
    }

    .menu__navegacao nav li, .botoes__acesso button{
        font-weight: 700;
        color:#ffff;
    }

    .fundo__menu.active{
        width: 80%;
        height: 350px;
        position: absolute;
        top: 80px;
        border-radius: 20px;
        background-color: var(--Dark-Violet);
    }

    .botoes__acesso.active button{
        width: 80%;
    }

    .linha.active{
        border: 0.5px solid var(--Gray);
        width: 70%;
        top: 280px;
    }

    main{
        flex-direction: column;
    }

    .texto h1, .texto p{
        text-align: center;
    }

    .texto{
        width: 90%;
        align-items: center;
    }

    .imagem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagem img{
        width: 80%;
    }

    .container__input{
        transform: translateX(-50%);
    }

    .campo input{
        width: 100%;
    }

    .resultados{
        margin-top: 20px;
    }

    .campo input, .campo button{
        width: 90%;
    }

    #link__original{
        width: 100%;
    }

    .quadros{
        gap: 100px;
    }

    .boost__your__link h1{
        font-size: 1rem;
    }

    .boost__your__link img{
        min-height: 20vh;
    }

    .get__started__boost__link{
        padding: 10px 20px;
        background-color: var(--Cyan);
        color: #ffff;
        font-weight: 500;
        font-size: 18px;
        border-radius: 25px;
        border: 0;
    }
}